@import "tailwindcss";
/* (Opcional) Personaliza tokens con v4:
@theme {
 --color-brand: #4f46e5;
 --spacing-xxs: 0.25rem;
}
*/
/* animated gradient background */
@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
